# База данных SQLite
db.sqlite3

# Виртуальное окружение
venv/
env/

# Скомпилированные файлы Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Файлы PyCharm/IDE
.idea/

# Локальные настройки и секреты
*.env

# Логи
*.log

# Временные файлы
*.tmp
*.swp

# Статические файлы, собранные collectstatic (если есть)
staticfiles/

